*
{
    margin: 0;
    padding: 0;
    border: none;
}


html, body
{
    height: 100%;
}

.body
{
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: rgb(230, 230, 230);
}






.header
{
    z-index: 199;

    display: grid;
    grid-template-columns: minmax(1em, 2fr) max-content minmax(1em, 2fr);
    overflow-wrap: break-word;

    width: 100%;
    max-width: 1600px;
    min-width: 360px;


    background-color: rgba(70,70,70,0.3);
}

.header *
{
    user-select: none;
}


.aside_nav_bar
{
    z-index: 999;
    position: fixed;
    display: none;
    flex-direction: column;

    width: 12em;
    height: 100%;

    background-color: rgb(42, 42, 42);

    transition: .2s;
}

.aside_nav_bar a
{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;

    font-size: 16px;

    color: white;
    text-decoration: none;
}

.aside_nav_bar a:hover
{
    background-color: rgb(156, 156, 156);
}

.aside_account_form
{
    display: none;
    position: absolute;
    justify-self: center;
    
    justify-content: center;
    align-items: center;
    

    margin-top: 8em;

    width: 900px;
    max-width: 90%;

    height: 420px;
    max-height: 90%;

    z-index: 999;

    border-radius: 24px;

    /* background-color: rgba(124, 140, 70, 1); */
    background-color: rgb(214, 214, 214);
}

.exit
{
    position: absolute;
    top: 2em;
    right: 3em;

    width: 2em;
    height: 2em;

    background-image: url("./src/img/close.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.account_aside_div
{
    width: fit-content;
    max-width: 90%;
    padding-inline: 2em;

    /* background-color: rgba(140, 70, 70, 0.5); */
    background-color: transparent;
}

.account_aside_div_span
{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;

    font-size: 32px;

}

.account_form
{
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-left: 1em;
    margin-right: 1em;

    padding-inline: 2em;
    padding-top: 3em;

    min-width: 30%;
    width: 20em;
    max-width: 90%;


    /* background-color: rgba(76, 179, 188, .5); */
    background-color: transparent;
}

.account_form *
{
    margin-block: 1em;
}

.input
{
    display: flex;
    flex-direction: column;
    
    padding-inline: 1em;

    width: 24em;
    max-width: 90%;

    height: 2em;

    border-radius: 2px;
    border: 1px solid black;

    background-color: transparent;
    
    font-size: 18px;
}

.submit_button
{
    width: 8em;
    height: 2em;

    border-radius: 24px ;

    background-color: rgba(168, 172, 175, 0.8);
    color: white;

    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;

    font-size: 16px;
}

.submit_button:hover
{
    opacity: 0.9;
    cursor: pointer;
}



.burger_menu
{
    display: none;
    font-size: 24px;
}

.burger_menu:hover
{
    cursor: pointer;
}










.header_left
{
    align-content: center;
}

.header_left div
{
    padding: 1em;
}

.account
{
    margin-inline: 1em;

    height: 3em;

    /* background-color: gold; */
}

.account:hover
{
    cursor: pointer;
}


.account.default_hidden
{

    display: none;
}



.header_center
{
    display: flex;
    flex-direction: column;
    padding: 2em 1em 2em 1em;


    align-items: center;
    justify-content: center;

    /* background-color: rgba(140, 70, 70, 0.5) */
}

.site_name
{
    text-align: center;


    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;

    color: rgb(0, 18, 108);
}




.header_right
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    /* display: grid;
    grid-template-columns: minmax(1em, 2fr) 1fr minmax(1em, 2fr);
    overflow-wrap: break-word; */


    /* background-color: rgba(70, 70, 70, 0.5) */
}

.header_right a
{
    color: black;

    text-decoration: none;
    user-select: none;
}



.navigation_button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1em;
    padding-block: 0.5em;
    text-align: center;
    margin-inline: 4px;

    width: auto;
    height: 2em;

    border-radius: 4px;
    font-family:"Merriweather", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;


    transition: background-color 0.2s, color 1s;
}

.navigation_button:hover
{
    background-color: rgba(70, 70, 70, 0.2);
    color: white;
    
    transition: background-color 0.2s, color 1s;
}







.main
{
    display: flex;
    flex-direction: column;

    align-items: center;

    flex-grow: 1;

    width: 100%;
    max-width: 1600px;
    min-width: 360px;

    /* background-color: rgba(124, 140, 70, 0.5); */
    background-color: rgb(220,220,220);
}

.article
{
    display: flex;

    width: 100%;
}

.info
{
    display: flex;
    justify-content: center;

    margin-block: 4em 2em;

    background-color: rgba(120,120,200,0.3);
}

.main_info
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block: 8em;
    padding: 1em;

    /* background-color: rgba(120,120,200,0.7); */
}

.span.top_info_span
{
    text-align: center;

    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;

    font-size: 32px;

}

.span.bottom_info_span
{
    text-align: center;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: normal;

    font-size: 24px; 

}











.card_holder
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-block: 2em;

    width: 100%;

    background-color: rgb(205, 205, 205);
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1em;

    width: 18em;    
    height: 24em;

    border-radius: 16px;

    background-color: rgba(140, 201, 255, 0.7);
    
    transition: 0.1s ease-out;
}

.card:hover
{
    margin-top: 0px;
 
    box-shadow: 4px 12px 4px 8px rgba(0, 0, 255, .2);
    background-origin: border-box;

    transition: 0.1s ease-out;
    
    padding-bottom: 1em;

    cursor: pointer;
}

#event_card
{
    background-color:rgba(165, 42, 42, 0.3);
}

#fav_card
{
    background-color:rgba(176, 203, 51, 0.3);
}

#random_card
{
    background-color: rgba(199, 125, 202, 0.3);
}

#media_card
{
    background-color:rgba(18, 93, 154, 0.3);
}





.card_img
{
    margin: 3em 1em 3em 1em;

    width: 8em;
    height: 8em;
    
    

}

.card_name
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-style: normal;

    font-size: 32px; 
}

.card_desc
{
    text-align: center;

    margin: 1em;

    width: 60%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: normal;

    /* background-color: antiquewhite; */
}






#event_card_img
{
    background-image: url("./src/img/history.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#fav_card_img
{
    background-image: url("./src/img/favourite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#random_card_img
{
    background-image: url("./src/img/dices.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#media_card_img
{
    background-image: url("./src/img/social-media.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}





#article_3
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-block: 4em 8em;

    width: 100%;
    
    background-color: rgb(205, 205, 205);
}

.bottom_article
{
    margin-bottom: 4em;
}

.section
{
    padding: 1em;
    flex-grow: 1;

    width: 600px;
}




.most_popular
{

    /* width: 100%;

    background-color: rgb(140, 255, 0); */
}

.section_naming
{
    display: block;
    margin: 1em;

    justify-self: center;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-style: normal;

    font-size: 32px; 
}

.core
{
    width: 100%;

    background-color: rgb(165, 65, 42);
}







.core_name
{
    display: block;
    padding: 1em 1em 1em 1em;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;

    color: rgb(255, 255, 255);
}

.section_div
{
    display: flex;
    flex-direction: column;

    padding: 1em;

    width: auto;
    height: auto;

    background-color: rgb(168, 168, 168);
    opacity: .9;
}

.article_div_img
{   
    display: block;
    align-self: center;

    
    margin: 1em 1em 2em 1em;
    
    width: auto;
    max-width: 100%;

    height: 16em;


    border-radius: 4px;
    transition: 0.2s;
}

.article_div_img:hover
{
    scale: 1.01;
    transition: 0.2s;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}





.article_desc
{
    text-align: justify;

    line-height: 1.6;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px; 

    color: rgb(0,0,0);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}






.rand_info
{
    /* width: 100%;
    height: auto;

    background-color: rgb(225, 255, 0); */
}


























.footer
{
    width: 100%;
    max-width: 1600px;
    min-width: 360px;

    min-height: fit-content;
    height: 10em;
    

    background-color: rgb(125, 137, 178);
}


.footer_bottom
{
    display: flex;
    flex-direction: column;
}

.footer_div
{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.footer_div a
{
    max-width: 90%;
    margin: 2em 1em 2em 1em;

    /* background-color: rgba(40,150,250,0.4); */
    text-decoration: none;
    color: white;

    font-weight: 700;
}

.footer_div a:hover
{
    opacity: .8;
    scale: 1.2;
}

.copyright
{
    margin: 1em;
    color: white;
}







.footer_top
{
    /* padding: 1em; */

    /* background-color: aqua; */
}

.footer_top_info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-block: 1em;

    width: 100%;   
    
    /* background-color: red; */

    color: white;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;

    font-size: 16px;
}

.footer_social_media
{
    display: flex;
    flex-direction: row;
    
    justify-content: center;

    width: 100%;

    /* background-color: red; */
}

.footer_logo
{
    min-width: 4em;
    min-height: 4em;

    margin: 4px;

    /* background-color: aqua; */
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    opacity: 0.6;

    transition: .2s;
}

.footer_logo:hover
{
    scale: 1.1;
    
    transition: .2s;
}

#logo_youtube
{
    background-image: url("./src/img/yt.png");
}

#logo_vk
{
    background-image: url("./src/img/vk.png");
}

#logo_tg
{
    background-image: url("./src/img/tg.png");
}










::placeholder
{
    color: black;

    font-size: 18px;
}


/* Стили к событиям */


@media screen and (width < 900px)
{
    .header
    {
        display: grid;
        grid-template-columns:2fr 1fr;
        overflow-wrap: break-word;
        /* padding-block: 1em; */

        width: 100%;
        max-width: 1600px;
        min-width: 360px;
    }

    .header_right .navigation_button
    {
        display: none;
    }

    .burger_menu
    {
        display: block;
    }

    .account.default_hidden
    {
        display: block;
    }

    .account.default_shown
    {
        display: none;
    }
    
    .aside_account_form
    {
        flex-direction: column;
    }

    .header_left
    {
        display: none;
    }

    .header_right
    {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .header_right *
    {
        margin-block: 1em;
    }

}


@media screen and (width >= 900px)
{
    .aside_nav_bar
    {
        display: none !important;
    }
}